.outer-square {
  /* your css goes here */
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.inner-square {
  background-color: green;
  margin: 10px;
}

.circle {
  background-color: blue;
  border-radius: 100%;
  margin: 10px;
}
